body{
	background: #E5E5E5;
font-family: Righteous;
}

.login{
	text-align: center;
}
table{
	position: absolute;
	
	
	text-align: center;
	
	border-radius:8px;
	margin: 0 auto;
	width: 300px;
	height: 500px;

}

td{
	background: blue;
}

td {
	color:black;
	background: red;
}

input{
	background: red;
}
