body{
	background: #E5E5E5;
font-family: Righteous;
}

.login{
	position: relative;
	top:140px;
	text-align: center;
	width: 330px;
	height: 430px;
	background: white;
	margin:0px auto;
	border-radius:8px;
}
table{
	position: relative;
	top:40px;
	margin:0px auto;
	text-align: center;
	
	width:80%;
	height: 200px;
}
td input{
	outline: none;
	background: #EFEFEF;
	border:none;
	width:90%;
	height: 40px;
	border-radius:4px;
	padding:4px;
}

td a{
	font-size: 12px;
	color:#FE1100;

}
td input[type="submit"]{
	background:#FE1100;
	color:white;
	font-size: 20px;
}

